{% extends "main.html" %}

{% block bar %}
		<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light header" id="topBar">

			<a class="navbar-brand" href="/">Interntional Colonisation Agency</a>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav mr-auto ">
					{{ menu["menu"]|safe }}
				</ul>
			</div>

		</nav>
{% endblock bar %}


{% block header %}
{% endblock header %}

{% block content %}
	<div class="container">
		<form class="font-150 login-form" method="post" enctype="multipart/form-data">
			<label>Sign In</label>
			<div class="row">
					<div class="col">
						<input id="login" name="login" type="login" class="form-control" placeholder="login or e-mail" value="" required="">
						<div class="invalid-feedback">
							No such login or incorrect password
						</div>
					</div>
			</div>

			<div class="row">
				<div class="col">
					<input id="password" name="password" type="password" class="form-control" placeholder="password" value="" required="">
				</div>
			</div>

			<div class="row">
				
				<div class="col">
					<button id="commit" class="col btn info-button" type="submit">
						Commit
					</button>
				</div>

				<div class="col custom-checkbox" style="text-align: center;">
			    	<input id="remember_me" type="checkbox" class="checkbox" name="remember_me"/>
					<label for="remember_me" style="font-size: 0.9em">Remember me</label>
			    </div>

			</div>

		</form>
	</div>
	<br><br><br>
{% endblock %}